<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employee">
            <h2><span>Employee</span> {{ employee.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{ employee.nom }}</span>
                </dd>
                <dt><span>Prenom</span></dt>
                <dd>
                    <span>{{ employee.prenom }}</span>
                </dd>
                <dt><span>Adresse</span></dt>
                <dd>
                    <span>{{ employee.adresse }}</span>
                </dd>
                <dt><span>Fonction</span></dt>
                <dd>
                    <span>{{ employee.fonction }}</span>
                </dd>
                <dt><span>Telephone</span></dt>
                <dd>
                    <span>{{ employee.telephone }}</span>
                </dd>
                <dt><span>Datedenaissance</span></dt>
                <dd>
                    <span>{{ employee.datedenaissance }}</span>
                </dd>
                <dt><span>Usine</span></dt>
                <dd>
                    <div *ngIf="employee.usine">
                        <a [routerLink]="['/usine', employee.usine?.id, 'view']">{{ employee.usine?.nom }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/employee', employee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
